/* =============
   Global Styles 
   =============*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  text-align: center;
}
footer h3,
footer p {
  text-align: left;
}
/* ==========
typography
========== */

h1,
h3 {
  font-family: "poppins";
}
p,
h2,
button {
  font-family: "open sans";
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 4rem;
  font-weight: 700;
}
p {
  font-size: 0.95rem;
}
.start {
  font-weight: 600;
}
.title {
  font-size: 1.3rem;
}
/* ========
coloring
======== */
body {
  background-color: hsl(207, 100%, 98%);
}
h1,
h2,
h3,
p {
  color: hsl(192, 100%, 9%);
}
footer {
  background-color: hsl(192, 100%, 9%);
}
footer p,
footer h3 {
  color: hsl(207, 100%, 98%);
}
.footer-logo {
  filter: invert(96%) sepia(41%) saturate(3456%) hue-rotate(179deg)
    brightness(1000%) contrast(102%);
}
.try-it {
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}
.try-it:hover {
  color: hsl(321, 100%, 78%);
  border-color: hsl(321, 100%, 78%);
}
.start,
.subscribe {
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  border: none;
}
.start:hover,
.subscribe:hover {
  background-color: hsl(321, 100%, 78%);
}
.stat-detail {
  color: gray;
}
.email {
  border-color: hsl(192, 100%, 9%);
}
.email:invalid {
  border-color: hsl(0, 100%, 63%);
}
.email:focus {
  outline: none;
}
.facebook,
.instagram,
.twitter {
  color: hsl(207, 100%, 98%);
}
.twitter:hover {
  color: #1da1f2;
}
.instagram:hover {
  color: #125688;
}
.facebook:hover {
  color: #4267b2;
}
/* ==========
Formatting
========== */
.desktop {
  display: none;
}
.top {
  margin: 20px 20px 0px 20px;
  /* height: 100vh; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
}
.header-logo {
  width: 125px;
}
.start {
  display: block;
  border-radius: 28px;
  padding: 15px 40px;
  width: 60vw;
  margin: auto;
}
.try-it {
  border-radius: 28px;
  border-width: 1px;
  padding: 5px 15px;
}
.opener {
  margin-bottom: 20px;
}

.footer-top {
  margin-bottom: -4px;
}
.illustration {
  display: block;
  width: 80vw;
  margin: 25px auto;
}
.stats {
  display: block;
  flex-direction: column;
  /* height: 50vh; */
  width: 200px;
  margin: auto;
}
.icon {
  width: 30px;
  position: relative;
  left: 10px;
}

section .illustration {
  margin-bottom: 80px;
}
.details {
  margin: 14px;
}
footer {
  padding: 25px;
}
footer p {
  line-height: 1.5rem;
  margin-top: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
.email {
  width: 325px;
  height: 3rem;
  border-radius: 5px;
}
.subscribe {
  align-self: flex-end;
  padding: 12px 40px;
  margin-top: 12px;
  margin-bottom: 100px;
  border-radius: 5px;
}
.footer-logo {
  width: 210px;
}
.lorem {
  margin-bottom: 50px;
}
.social-media {
  margin: 30px 0;
}

.facebook,
.instagram,
.twitter {
  font-size: 2rem;
}
/* ===========
   Media Query 
   ===========*/
@media (min-width: 720px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 5rem;
  }
  .description {
    display: block;
    margin: auto;
    width: 450px;
  }
  .start {
    width: 325px;
    margin: 40px auto 100px auto;
  }
  .illustration {
    width: 70%;
  }
  .numbers {
    display: flex;
    width: 70%;
    margin: auto;
  }
  section .illustration {
    width: 30%;
    margin: 0;
  }
  .grow-together,
  .flowing-conversations,
  .your-users {
    display: flex;
    justify-content: space-evenly;
    /* height: 400px; */
  }
  .grow-together,
  .your-users {
    flex-direction: row-reverse;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 34%;
  }
  .title {
    text-align: left;
    font-size: 2.3rem;
    margin-bottom: 20px;
  }
  .details {
    margin: 0;
    text-align: left;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 0;
  }
  .footer-top {
    width: 100%;
  }
  .about {
    width: 320px;
  }
  .newsletter {
    width: 630px;
  }
  .newsletter h3 {
    font-size: 1.6rem;
  }
  .newsletter p {
    width: 360px;
    margin-bottom: 30px;
  }
  form {
    display: block;
  }
  .email {
    margin-right: 30px;
  }
}
