/* =============
   Global Styles 
   =============*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  text-align: center;
}
footer h3,
footer p {
  text-align: left;
}
/* ==========
typography
========== */

h1,
h3 {
  font-family: "poppins";
}
p,
h2,
button {
  font-family: "open sans";
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 4rem;
  font-weight: 700;
}
p {
  font-size: 0.95rem;
}
.start {
  font-weight: 600;
}
/* ========
coloring
======== */
body {
  background-color: hsl(207, 100%, 98%);
}
h1,
h2,
h3,
p {
  color: hsl(192, 100%, 9%);
}
footer {
  background-color: hsl(192, 100%, 9%);
}
footer p,
footer h3 {
  color: hsl(207, 100%, 98%);
}
.footer-logo {
  filter: invert(96%) sepia(41%) saturate(3456%) hue-rotate(179deg)
    brightness(1000%) contrast(102%);
}
.try-it {
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}
.try-it:hover {
  color: hsl(321, 100%, 78%);
  border-color: hsl(321, 100%, 78%);
}
.start,
.subscribe {
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  border: none;
}
.start:hover,
.subscribe:hover {
  background-color: hsl(321, 100%, 78%);
}
.stat-detail {
  color: gray;
}
.email:invalid {
  border-color: hsl(0, 100%, 63%);
}
.email:focus {
  outline: none;
}
.facebook,
.instagram,
.twitter {
  color: hsl(207, 100%, 98%);
}
.twitter:hover {
  color: #1da1f2;
}
.instagram:hover {
  color: #125688;
}
.facebook:hover {
  color: #4267b2;
}
/* ==========
Formatting
========== */

header {
  margin: 20px 20px 0px 20px;
  height: 100vh;
}
.header-logo {
  width: 125px;
}
.start {
  display: block;
  border-radius: 28px;
  padding: 15px 40px;
  width: 60vw;
  margin: 50px auto;
}
.try-it {
  border-radius: 28px;
  border-width: 1px;
  padding: 5px 15px;
  position: absolute;
  right: 25px;
  top: 15px;
}
.opener {
  margin-bottom: 20px;
}
.main-body {
  padding: 0px 15px;
}
p {
  margin: 10px;
}
.footer-top {
  margin-bottom: -4px;
}
.illustration {
  display: block;
  width: 80vw;
  margin: 25px auto;
}
.stats {
  display: block;
  flex-direction: column;
  height: 50vh;
  width: 200px;
  /* position: relative; */
  margin: auto;
}
.icon {
  width: 30px;
  position: relative;
  left: 10px;
  /* top: 20px; */
}
